
/Music-project/env
/env
*.bat
/Music-project/django_rest_auth/accounts/__pycache__
/Music-project/django_rest_auth/django_rest_auth/__pycache__
/Music-project/django_rest_auth/django_rest_auth/__pycache__
/Music-project/django_rest_auth/accounts/__pycache__
/Music-project/django_rest_auth/accounts/__pycache__
/Music-project/django_rest_auth/django_rest_auth/__pycache__


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pyc
/Music-project/django_rest_auth/accounts/__pycache__
*.pyc
/Music-project/django_rest_auth/media
*.pyc
__pycache__
*.pyc
