
/Music-project/env
/env
*.bat
/Music-project/django_rest_auth/accounts/__pycache__
/Music-project/django_rest_auth/django_rest_auth/__pycache__
/Music-project/django_rest_auth/django_rest_auth/__pycache__
/Music-project/django_rest_auth/accounts/__pycache__
